
<VirtualHost *:80>
   ServerName {{ ipsilon_httpd_hostname }}
   DocumentRoot /var/www/html/
   CustomLog logs/{{ ipsilon_httpd_hostname }}_access.log combined
   ErrorLog logs/{{ ipsilon_httpd_hostname }}_error.log
   AccessFileName .htaccess
   # Some needed headers
   Header always set X-Frame-Options "SAMEORIGIN"
   Header always set X-Xss-Protection "1; mode=block"
   Header always set X-Content-Type-Options "nosniff"
   Header always set Referrer-Policy "same-origin"

{% if ipsilon_httpd_tls %}
   RewriteEngine On
   RewriteCond $1 !^.well-known
   RewriteCond %{HTTPS} !=on
   RewriteRule ^/?(.*) https://{{ ipsilon_httpd_hostname }}/$1 [R,L]
{% endif %}

  <Location "/.well-known/">
     ProxyPass "http://cephas.rockylinux.org/.well-known/"
   </Location>
</VirtualHost>

